.contact {
  height: calc(100vh - 40px);
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 1);
  display: grid;
  align-content: stretch;
  padding: 10px;
  grid-gap: 80px;
  grid-template-rows: min-content 1fr 20px;
}

.attribution,
.attribution a {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-size: 0.8em;
}

.contact h3 {
  color: #ffffff;
}

.logos {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  a {
    display: block;
    position: relative;
    height: 60px;
    align-self: center;
  }
  img {
    width: 60px;
    height: 60px;
  }
}

.hovered {
  display: none;
}

@media (min-width: 1125px) {
  .contact {
    grid-template-rows: 1fr 1fr 20px;
    grid-gap: 0;
  }
  .logos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    a {
      display: inline-block;
      position: relative;
      height: 60px;
      align-self: start;
    }
    img {
      width: 60px;
      height: 60px;
    }
  }
  .logos a:hover {
    .hovered {
      display: block;
      width: 120px;
      position: absolute;
      top: -30px;
      height: 120px;
      left: -30px;
    }
  }
}
