.contact {
  height: calc(100vh - 40px);
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 1);
  display: grid;
  align-content: stretch;
  padding: 10px;
  grid-template-rows: 1fr 1fr 20px;
}

.attribution,
.attribution a {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-size: 0.8em;
}

.contact h3 {
  color: #ffffff;
}

.logos {
  margin-top: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  img {
    width: 60px;
  }
}

@media (min-width: 1125px) {
}
