@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Homemade+Apple|Raleway');

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.site-nav {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.8);
}

ul li {
  position: relative;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  font-weight: normal;
  font-size: 4em;
}

h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  font-weight: normal;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}
